.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #120D31;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #806D40;
}

p {
  font-size: 2rem;
  color: #806D40;
  font-family: 'Indie Flower', cursive;
}

.game-area{
  padding-top: 45px;
}

img {
  width: 80%;
}

.play-button{
  padding-top: 60px;

}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
